<!doctype html>
<html lang="en">
    <head>
        <title>Vue Js</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS v5.0.2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div id="app">
            <div class="mt-4">
                <div class="container">
                    <p v-if="errors.lenght">
                        <b>Please correct the following errors : </b>
                        <ul>
                            <li v-for="error in errors">
                                {{ error }}
                            </li>
                        </ul>
                    </p>
                    <form @submit.prevent="submitForm($event)">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" id="title" name="title" class="form-control" ref="title" placeholder="Masukan Title" v-model="title">
                        </div>
                        <div class="mb-3">
                          <label for="desc" class="form-label">Description</label>
                          <textarea class="form-control" name="description" id="desc" rows="3" placeholder="Masukan description" ref="description" v-model="description"></textarea>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script>
            var vm = new Vue({
                el: '#app',
                data: {
                    'title': '',
                    'description': '',
                    'errors': []
                },
                methods: {
                    submitForm: function() {
                        this.errors = [];
                        if (this.title.length < 5) {
                            this.errors.push('Title minimal 5 karakter');
                            this.$refs.title.focus();
                        } else if (this.description.length > 10){
                            this.errors.push('Title maksimal 10 karakter');
                            this.$refs.description.focus();
                        }

                        if (this.errors.length == 0) {
                            alert('terimakasi anda memasukan data dengan benar');
                        }
                    }
                },
            });
        </script>
    </body>
</html>