<!doctype html>
<html lang="en">
    <head>
        <title>Vue Component</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>

        <div id="app">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>{{ selectedBlog }}</h2>
                        <component-a v-for="blog in blogs" 
                            :key="blog.id"        
                            :blog="blog"
                            @selected="selectedBlog = $event"
                            >
                        </component-a>
                    </div>
                    <div class="col-sm-6">
                        <h2>Data Komponen</h2>
                        <h3>{{ message }}</h3>
                        <komponen-satu></komponen-satu>
                    </div>
                </div>
            </div>
        </div>

        <template id="komponen-satu">
            <div>
                {{ pesan }}
            </div>
        </template>

        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script>

            var ComponenA = {
                template: `
                    <div>
                        <h5>{{ blog.title }} <button class="btn btn-sm btn-danger" @click="$emit('selected', blog.title)">Pilih</button></h5>
                        <h6>{{ blog.content }}</h6>
                    </div>
                `,
                data() {
                    return {
                        pesan: 'Ini dari Komponen A pesan dari komponen A'
                    }
                },
                props: ['blog']
            };

            // vue component dari template
            Vue.component('komponen-satu', {
                template: '#komponen-satu',
                data() {
                    return {
                        pesan: 'Ini dari komponent pesan dari template komponen satu'
                    }
                }
            });

            var vm = new Vue({
                el: '#app',
                components: {
                    'component-a': ComponenA
                },
                data: {
                    message: 'Komponen Vue Js',
                    blogs: [
                        {
                            'title': 'Ini Judul data dari parent',
                            'content': 'Ini Kontent nya lohh'
                        },
                        {
                            'title': 'Ini Judul ke 2 data dari parent',
                            'content': 'Ini Kontent ke dua 2 nya lohh'
                        }
                    ],
                    selectedBlog: ''
                },
            });

        </script>
    </body>
</html>