<!doctype html>
<html lang="en">
    <head>
        <title>Membuat Component dalam File Terpisah</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS v5.0.2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    </head>
    <body>
        <div id="app">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm-6">
                        <blog-component v-for="blog in blogs"
                            :key="blog.id"
                            :blog="blog"
                            @selected="select = $event"
                        ></blog-component>
                    </div>
                    <div class="col-sm-6">
                        <h6>{{ select }}</h6>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script type="module">
            import { BlogComponent } from './BlogComponent.js'
            
            var vm = new Vue({
                el: '#app',
                components: {
                    'blog-component': BlogComponent
                },
                data: {
                    blogs: [
                        {
                            'title': 'Ini Judul data dari parent',
                            'content': 'Ini Kontent nya lohh'
                        },
                        {
                            'title': 'Ini Judul ke 2 data dari parent',
                            'content': 'Ini Kontent ke dua 2 nya lohh'
                        }
                    ],
                    select: '',
                }
            });
        </script>
    </body>
</html>