<!doctype html>
<html lang="en">
    <head>
        <title>Scoped Slot</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div id="app">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-sm-6">
                        <blog-component>
                            <template v-slot:title></template>
                            <template v-slot:description></template>
                        </blog-component>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script>
            var BlogComponent = {
                template: `
                    <div>
                        <b>Judul</b> : <slot name="title">{{ blogs['0'].title }}</slot>
                        <br>
                        <b>Deskripsi</b> : <slot name="deskripsi">{{ blogs['0'].description }}</slot>
                    </div>
                `,
                data() {
                    return {
                        blogs: [
                            {
                                title: 'Judul blog pertama',
                                description: 'Deskripsi Blog Pertama',
                            },
                            {
                                title: 'Judul blog kedua',
                                description: 'Deskripsi Blog Kedua',
                            },
                        ]
                    }
                },
            }
            var vm = new Vue({
                el: '#app',
                components: {
                    'blog-component': BlogComponent
                },
                data: {

                }
            });
        </script>
    </body>
</html>